body {
	background-color:#E0DCD1;
}
/* Links */

.room-links li {
	display: inline;
	padding-right: 20px;
	font-size: large;
  }
  ul.room-links {
	list-style-type: none;
  }
  
  
  
  a {
	background-image: linear-gradient(
	  to right,
	  #263760,
	  #263760 50%,
	  #000 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
  }
  
  a:before {
	content: '';
	background: #263760;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before {
	width:100%;
  }

footer {
    margin-top: 5%;
    margin-bottom: -5%;
}


.footer-links a {
    text-decoration: none;
    color:black;
}

footer p {
    color:black;
}


img{
	max-width: 100%;
}
.gallery{
	background-color: #E0DCD1;
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
	height:300px;
}
#gallery-modal .modal-img{
	width: 100%;
    height:max-content;
}